## Carolyn Randall - Homework 3 - Project part
**Course Project**
*Share with a me a ipython notebook containing the following:
* Data read into python in a data frame

* A statistical summary of your data
* A visualisation of your data
* One of the following with your data; Linear or Logistic Regression (with regularization), or Clustering.
* A written summary at the end describing your data

### Project Data and Goals
* use sfsdfsdf  put a summary here not the data but in general what i want to achieve

## STEP 1 - read and xxx the data

In [1]:
# import some libraries
import pandas as pd
import numpy as np

In [2]:
# Data csv files downloaded from Kaggle.  1 file with math grades and 1 file with Portuguese 
#  
# Let's read the student maths data set into a Dataframe called 'studentmat
studentmath = pd.read_csv('student-mat.csv')  
# read the student portuguese data into a Dataframe called 'studentport'
studentport = pd.read_csv('student-por.csv')

 I am going to merge the two files so I have a larger set of data to use and not sure yet
 if the subject is significant until I do some modeling
 But, before I merge I will add a column to each dataset to identify the subject the grades G1, G2 and G3 are associated with 
 
#### * subject=M for math or
#### * subject = P for Portuguese

In [ ]:
studentmath['subject'] = 'M'

In [4]:
# check the head to see it is added
studentmath.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,M
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,M
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,M
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,M
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,M

In [5]:
studentport['subject'] = 'P'

In [6]:
studentport.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,P
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,P
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,P
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,P
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,P

In [12]:
# see how many records in the math data set
len(studentmath)

395

In [13]:
# see how many records are in the portuguese data set
len(studentport)

649

In [19]:
# check the columns in each dataset before we merge to make sure they are the same
studentport.columns == studentmath.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True], dtype=bool)

In [8]:
# now merge the two data sets
studentsall=pd.merge(studentmath, studentport, how='outer')

In [38]:
studentsall.columns.values

array(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu',
       'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1',
       'G2', 'G3', 'subject'], dtype=object)

In [34]:
# check the data
studentsall

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,M
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,M
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,M
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,M
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,M
5,GP,M,16,U,LE3,T,4,3,services,other,...,4,2,1,2,5,10,15,15,15,M
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,1,1,3,0,12,12,11,M
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,1,4,1,1,1,6,6,5,6,M
8,GP,M,15,U,LE3,A,3,2,services,other,...,2,2,1,1,1,0,16,18,19,M
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,1,1,1,5,0,14,15,15,M
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,1,2,2,0,10,8,9,M
11,GP,F,15,U,GT3,T,2,1,services,other,...,2,2,1,1,4,4,10,12,12,M
12,GP,M,15,U,LE3,T,4,4,health,services,...,3,3,1,3,5,2,14,14,14,M
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,3,1,2,3,2,10,10,11,M
14,GP,M,15,U,GT3,A,2,2,other,other,...,5,2,1,1,3,0,14,16,16,M
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,1,2,2,4,14,14,14,M
16,GP,F,16,U,GT3,T,4,4,services,services,...,2,3,1,2,2,6,13,14,14,M
17,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,1,4,4,8,10,10,M
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,2,4,5,16,6,5,5,M
19,GP,M,16,U,LE3,T,4,3,health,other,...,1,3,1,3,5,4,8,10,10,M
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,1,1,1,1,0,13,14,15,M
21,GP,M,15,U,GT3,T,4,4,health,health,...,4,2,1,1,5,0,12,15,15,M
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,5,1,1,3,5,2,15,15,16,M
23,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,2,4,5,0,13,13,12,M
24,GP,F,15,R,GT3,T,2,4,services,health,...,3,2,1,1,5,2,10,9,8,M
25,GP,F,16,U,GT3,T,2,2,services,services,...,2,2,1,3,5,14,6,9,8,M
26,GP,M,15,U,GT3,T,2,2,other,other,...,2,2,1,2,5,2,12,12,11,M
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,4,2,4,1,4,15,16,15,M
28,GP,M,16,U,LE3,A,3,4,services,other,...,3,3,1,1,5,4,11,11,11,M
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,5,5,5,5,16,10,12,11,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014,MS,F,18,U,GT3,T,3,3,services,services,...,3,2,1,3,3,6,13,12,13,P
1015,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,3,4,1,1,1,4,15,14,15,P
1016,MS,F,17,R,GT3,T,1,2,other,services,...,2,2,1,2,3,0,13,13,13,P
1017,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,4,2,4,3,0,8,10,9,P
1018,MS,M,18,U,LE3,T,4,4,teacher,services,...,2,2,2,2,5,0,15,16,16,P
1019,MS,F,17,R,GT3,T,1,1,other,services,...,2,1,1,2,1,0,8,8,9,P
1020,MS,F,18,U,GT3,T,2,3,at_home,services,...,2,3,1,2,4,0,10,10,10,P
1021,MS,F,18,R,GT3,T,4,4,other,teacher,...,2,2,4,2,5,0,7,5,0,P
1022,MS,M,18,R,LE3,T,1,2,at_home,services,...,3,3,2,3,3,3,9,10,10,P
1023,MS,F,17,U,GT3,T,2,2,other,at_home,...,4,3,1,1,3,8,10,11,12,P
1024,MS,F,17,R,GT3,T,1,2,other,other,...,5,5,1,3,1,4,7,8,9,P
1025,MS,F,18,R,LE3,T,4,4,other,other,...,4,4,1,1,1,0,15,17,17,P
1026,MS,F,18,R,GT3,T,1,1,other,other,...,3,2,1,2,4,4,10,11,12,P
1027,MS,F,19,R,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,7,8,9,P
1028,MS,F,18,R,LE3,T,4,4,teacher,services,...,4,3,3,4,2,1,13,14,14,P
1029,MS,F,18,U,GT3,T,3,3,other,other,...,1,3,1,2,1,1,16,16,16,P
1030,MS,F,17,R,GT3,T,3,1,at_home,other,...,5,4,2,3,1,10,8,9,9,P
1031,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,2,4,1,4,2,4,17,18,19,P
1032,MS,M,18,R,GT3,T,2,1,other,other,...,4,3,1,3,5,0,7,7,0,P
1033,MS,M,17,U,GT3,T,2,3,other,services,...,4,3,1,1,3,4,14,15,16,P
1034,MS,M,19,R,GT3,T,1,1,other,services,...,3,2,1,3,5,0,5,8,0,P
1035,MS,M,18,R,GT3,T,4,2,other,other,...,4,3,4,3,3,0,7,7,0,P
1036,MS,F,18,R,GT3,T,2,2,at_home,other,...,3,3,1,3,4,0,14,17,15,P
1037,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,4,1,1,1,0,6,9,11,P
1038,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,3,2,2,5,4,7,9,10,P
1039,MS,F,19,R,GT3,T,2,3,services,other,...,4,2,1,2,5,4,10,11,10,P
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,3,4,1,1,1,4,15,15,16,P
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,5,6,11,12,9,P
1042,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,6,10,10,10,P
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,4,10,11,11,P

In [21]:
# double check the merge includes all the data should be 395 + 649=1044
len(studentsall)

1044

In [20]:
# do we have any missing data?
studentsall.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
subject       0
dtype: int64

In [37]:
studentsall.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
subject       object
dtype: object

In [24]:
# found these functions on kaggle so using them they look useful to see data values
def get_feature_lists_by_dtype(data):
    features = data.columns.tolist()
    output = {}
    for f in features:
        dtype = str(data[f].dtype)
        if dtype not in output.keys(): output[dtype] = [f]
        else: output[dtype] += [f]
    return output

def show_uniques(data,features):
    for f in features:
        if len(data[f].unique()) < 30:
            print("%s: count(%s) %s" % (f,len(data[f].unique()),data[f].unique()))
        else:
            print("%s: count(%s) %s" % (f,len(data[f].unique()),data[f].unique()[0:10]))
def show_all_uniques(data):
    dtypes = get_feature_lists_by_dtype(data)
    for key in dtypes.keys():
        print(key + "\n")
        show_uniques(data,dtypes[key])
        print()

In [25]:
# lets take a look at the unique values for each feature to get an overview of 
# what the data looks like
show_all_uniques(studentsall)

object

school: count(2) ['GP' 'MS']
sex: count(2) ['F' 'M']
address: count(2) ['U' 'R']
famsize: count(2) ['GT3' 'LE3']
Pstatus: count(2) ['A' 'T']
Mjob: count(5) ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: count(5) ['teacher' 'other' 'services' 'health' 'at_home']
reason: count(4) ['course' 'other' 'home' 'reputation']
guardian: count(3) ['mother' 'father' 'other']
schoolsup: count(2) ['yes' 'no']
famsup: count(2) ['no' 'yes']
paid: count(2) ['no' 'yes']
activities: count(2) ['no' 'yes']
nursery: count(2) ['yes' 'no']
higher: count(2) ['yes' 'no']
internet: count(2) ['no' 'yes']
romantic: count(2) ['no' 'yes']
subject: count(2) ['M' 'P']

int64

age: count(8) [18 17 15 16 19 22 20 21]
Medu: count(5) [4 1 3 2 0]
Fedu: count(5) [4 1 2 3 0]
traveltime: count(4) [2 1 3 4]
studytime: count(4) [2 3 1 4]
failures: count(4) [0 3 2 1]
famrel: count(5) [4 5 3 1 2]
freetime: count(5) [3 2 4 1 5]
goout: count(5) [4 3 2 1 5]
Dalc: count(5) [1 2 5 3 4]
Walc: count(5) [1 3 2 4 5]
health: count(5) [3 5 1 2 4]
absences: count(35) [ 6  4 10  2  0 16 14  7  8 25]
G1: count(18) [ 5  7 15  6 12 16 14 10 13  8 11  9 17 19 18  4  3  0]
G2: count(17) [ 6  5  8 14 10 15 12 18 16 13  9 11  7 19 17  4  0]
G3: count(19) [ 6 10 15 11 19  9 12 14 16  5  8 17 18 13 20  7  0  4  1]

## STEP 2 - Statistical Summary of Data

In [26]:
# use describe to get a statistical summary But note, this will only show numerical features
# About half the data is NON numeric, so keep this in mind as later if we run linear regressions
# we will have to convert the non-numeric to numeric values
studentsall.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,16.726054,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954
std,1.239975,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

 Let us get a summary of the non-numerical data xxxxx
We will be using statsmodels for learning about linear regression. It covers the models better than in scikit when we are learning and want more insights into the model parameters. 
But we will mainly be using scikit learn for the rest of the course.

In [28]:
# Look for any linear correlations in the data
studentsall.corr()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.000000,-0.130196,-0.138521,0.049216,-0.007870,0.282364,0.007162,0.002645,0.118510,0.133453,0.098291,-0.029129,0.153196,-0.124121,-0.119475,-0.125282
Medu,-0.130196,1.000000,0.642063,-0.238181,0.090616,-0.187769,0.015004,0.001054,0.025614,0.001515,-0.029331,-0.013254,0.059708,0.226101,0.224662,0.201472
Fedu,-0.138521,0.642063,1.000000,-0.196328,0.033458,-0.191390,0.013066,0.002142,0.030075,-0.000165,0.019524,0.034288,0.040829,0.195898,0.182634,0.159796
traveltime,0.049216,-0.238181,-0.196328,1.000000,-0.081328,0.087177,-0.012578,-0.007403,0.049740,0.109423,0.084292,-0.029002,-0.022669,-0.121053,-0.140163,-0.102627
studytime,-0.007870,0.090616,0.033458,-0.081328,1.000000,-0.152024,0.012324,-0.094429,-0.072941,-0.159665,-0.229073,-0.063044,-0.075594,0.211314,0.183167,0.161629
failures,0.282364,-0.187769,-0.191390,0.087177,-0.152024,1.000000,-0.053676,0.102679,0.074683,0.116336,0.107432,0.048311,0.099998,-0.374175,-0.377172,-0.383145
famrel,0.007162,0.015004,0.013066,-0.012578,0.012324,-0.053676,1.000000,0.136901,0.080619,-0.076483,-0.100663,0.104101,-0.062171,0.036947,0.042054,0.054461
freetime,0.002645,0.001054,0.002142,-0.007403,-0.094429,0.102679,0.136901,1.000000,0.323556,0.144979,0.130377,0.081517,-0.032079,-0.051985,-0.068952,-0.064890
goout,0.118510,0.025614,0.030075,0.049740,-0.072941,0.074683,0.080619,0.323556,1.000000,0.253135,0.399794,-0.013736,0.056142,-0.101163,-0.108411,-0.097877
Dalc,0.133453,0.001515,-0.000165,0.109423,-0.159665,0.116336,-0.076483,0.144979,0.253135,1.000000,0.627814,0.065515,0.132867,-0.150943,-0.131576,-0.129642
Walc,0.098291,-0.029331,0.019524,0.084292,-0.229073,0.107432,-0.100663,0.130377,0.399794,0.627814,1.000000,0.106669,0.139703,-0.142401,-0.128114,-0.115740
health,-0.029129,-0.013254,0.034288,-0.029002,-0.063044,0.048311,0.104101,0.081517,-0.013736,0.065515,0.106669,1.000000,-0.027479,-0.060478,-0.088001,-0.080079
absences,0.153196,0.059708,0.040829,-0.022669,-0.075594,0.099998,-0.062171,-0.032079,0.056142,0.132867,0.139703,-0.027479,1.000000,-0.092425,-0.089332,-0.045671
G1,-0.124121,0.226101,0.195898,-0.121053,0.211314,-0.374175,0.036947,-0.051985,-0.101163,-0.150943,-0.142401,-0.060478,-0.092425,1.000000,0.858739,0.809142
G2,-0.119475,0.224662,0.182634,-0.140163,0.183167,-0.377172,0.042054,-0.068952,-0.108411,-0.131576,-0.128114,-0.088001,-0.089332,0.858739,1.000000,0.910743
G3,-0.125282,0.201472,0.159796,-0.102627,0.161629,-0.383145,0.054461,-0.064890,-0.097877,-0.129642,-0.115740,-0.080079,-0.045671,0.809142,0.910743,1.000000

### let's do some grouping and see the stats

In [41]:
# Group data by school 
sorted_byschool = studentsall.groupby('school')

In [42]:
# summary statistics for all numeric columns by school
sorted_byschool.describe()
# provide the mean for each numeric column by sex
sorted_byschool.mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,
GP,16.601036,2.760363,2.510363,1.410622,2.036269,0.238342,3.955959,3.185233,3.130829,1.458549,2.264249,3.588083,5.006477,11.512953,11.528497,11.633420
MS,17.080882,2.158088,2.040441,1.841912,1.783088,0.338235,3.878676,3.246324,3.227941,1.595588,2.341912,3.415441,2.812500,10.363971,10.444853,10.514706

In [43]:
# Group data by paid 
sorted_bypaid = studentsall.groupby('paid')

In [44]:
# summary statistics for all numeric columns by paid
sorted_bypaid.describe()
# provide the mean for each numeric column by sex
sorted_bypaid.mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
paid,,,,,,,,,,,,,,,,
no,16.743932,2.509709,2.320388,1.554612,1.924757,0.276699,3.928398,3.219660,3.163835,1.474515,2.256068,3.549757,4.208738,11.273058,11.271845,11.440534
yes,16.659091,2.954545,2.640909,1.404545,2.140909,0.218182,3.963636,3.131818,3.127273,1.568182,2.390909,3.518182,5.281818,10.990909,11.150000,10.972727

In [45]:
# Group data by mother's education
sorted_byMedu = studentsall.groupby('Medu')

In [47]:
# summary statistics for all numeric columns by mother's education
# Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 
#  2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
sorted_byMedu.describe()
# provide the mean for each numeric column by sex
sorted_byMedu.mean()

,age,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
Medu,,,,,,,,,,,,,,,
0,17.111111,1.444444,1.555556,1.666667,0.555556,3.222222,3.333333,2.666667,1.666667,2.666667,4.000000,0.777778,11.222222,11.666667,12.111111
1,16.980198,1.396040,1.816832,1.797030,0.475248,3.900990,3.207921,3.183168,1.569307,2.450495,3.519802,3.539604,10.207921,10.128713,10.178218
2,16.737024,1.972318,1.612457,1.996540,0.242215,3.965398,3.179931,3.079585,1.356401,2.114187,3.584775,4.266436,10.975779,10.955017,10.972318
3,16.789916,2.584034,1.411765,2.021008,0.344538,3.991597,3.210084,3.201681,1.605042,2.403361,3.525210,5.848739,11.025210,11.096639,11.247899
4,16.486928,3.310458,1.330065,2.029412,0.075163,3.908497,3.205882,3.189542,1.483660,2.232026,3.519608,4.192810,12.248366,12.362745,12.509804

In [48]:
# Group data by father's education
sorted_byFedu = studentsall.groupby('Fedu')

In [49]:
# summary statistics for all numeric columns by mother's education
# Fedu has same numeric definitions as Medu
sorted_byFedu.describe()
# provide the mean for each numeric column by sex
sorted_byFedu.mean()

,age,Medu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
Fedu,,,,,,,,,,,,,,,
0,16.777778,1.555556,2.000000,2.000000,0.222222,3.888889,3.222222,2.555556,1.000000,1.000000,3.444444,2.222222,11.555556,11.888889,12.333333
1,17.027344,1.679688,1.792969,1.871094,0.476562,3.921875,3.199219,3.152344,1.546875,2.335938,3.582031,3.972656,10.269531,10.277344,10.367188
2,16.694444,2.311728,1.484568,2.012346,0.277778,3.904321,3.225309,3.129630,1.503086,2.234568,3.500000,4.422840,11.246914,11.222222,11.243827
3,16.658009,3.069264,1.372294,2.038961,0.151515,4.017316,3.125541,3.164502,1.372294,2.329004,3.307359,5.090909,11.303030,11.454545,11.636364
4,16.495536,3.642857,1.406250,1.950893,0.120536,3.915179,3.245536,3.214286,1.566964,2.303571,3.808036,4.392857,12.138393,12.147321,12.254464

In [51]:
# Group data by schoolsup
sorted_bysup = studentsall.groupby('schoolsup')

In [52]:
sorted_bysup.describe()
# provide the mean for each numeric column by sex
sorted_bysup.mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
schoolsup,,,,,,,,,,,,,,,,
no,16.816216,2.612973,2.375135,1.531892,1.949189,0.263784,3.938378,3.210811,3.177297,1.502703,2.327568,3.542703,4.455135,11.36000,11.350270,11.451892
yes,16.025210,2.529412,2.487395,1.453782,2.134454,0.268908,3.915966,3.126050,2.991597,1.428571,1.949580,3.546218,4.277311,10.07563,10.436975,10.487395

In [56]:
# Group data by daily alchol
sorted_byDalc = studentsall.groupby('Dalc')

In [57]:
sorted_byDalc.describe()
# provide the mean for each numeric column by sex
sorted_byDalc.mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Walc,health,absences,G1,G2,G3
Dalc,,,,,,,,,,,,,,,
1,16.661623,2.598349,2.385144,1.486933,2.061898,0.214580,4.011004,3.108666,2.983494,1.763411,3.467675,3.972490,11.492435,11.536451,11.704264
2,16.683673,2.627551,2.392857,1.520408,1.831633,0.341837,3.698980,3.346939,3.387755,3.102041,3.688776,4.979592,10.790816,10.719388,10.556122
3,16.985507,2.579710,2.434783,1.666667,1.594203,0.434783,3.869565,3.478261,3.681159,3.913043,3.855072,5.782609,10.492754,10.666667,10.898551
4,17.461538,2.692308,2.346154,1.923077,1.730769,0.384615,3.846154,3.307692,3.769231,3.923077,3.615385,6.500000,9.884615,9.576923,9.269231
5,17.423077,2.538462,2.346154,1.769231,1.692308,0.500000,3.884615,3.846154,4.230769,4.730769,3.653846,7.615385,9.846154,10.307692,10.384615

## STEP 3 Visualize

In [29]:
# Visualize the binary data and then the non-binary data

## STEP 4 Models

### use Linear regression for binary features 
### look at logistic regression for non-binary features